<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kelola Bibit</title>
</head>

<body>
    <h1>Kelola Bibit</h1>
    <form action="/bibit/add" method="POST">
        <input type="text" name="Nama" placeholder="Nama Bibit" required>
        <input type="text" name="Jenis" placeholder="Jenis">
        <input type="number" name="Harga" placeholder="Harga">
        <button type="submit">Tambah</button>
    </form>

    <ul>
        <% data.forEach(item=> { %>
            <li>
                <%= item.nama %>
                    <%= item.jenis %>
                        <%= item.harga %>
                            <a href="/bibit/delete/<%= item.id %>">Hapus</a>

                            <form action="/bibit/update/<%= item.id %>" method="POST" style="display: inline;">
                                <input type="text" name="Nama" value="<%= item.Nama %>" required>
                                <input type="text" name="Jenis" value="<%= item.Jenis %>">
                                <input type="number" name="Harga" value="<%= item.Harga %>">
                                <button type="submit">Update</button>
                            </form>
            </li>
            <% }) %>
    </ul>
</body>

</html>